html{
    overflow: hidden;
}
body{

    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-image:url("assets/background.png");
    background-size:100vw 100vh;
}
canvas{

}
.mainBlock{
    display: flex;
    padding: 1.25vw 0.5vw 0.5vw;
    background-color: rgb(200,200,200);

}
.c{
    image-rendering: pixelated;
    display: flex;
    background-color: black;
    width:85vw;
    height:34vw;
}